/FinalProjectServerDir/nbproject/private/
/ProyectoFinalSDist/nbproject/private/
/BolsaDeTareasRMI/nbproject/private/
/BolsaDeTareasRMI/dist/
/BolsaDeTareasRMI/build/
/SOAPServer/nbproject/private/
/SOAPServer/build/
/SOAPServer/dist/
BolsaDeTareasRMI/build/classes/client/MasterNode.class